  .box-about {
    display: flex;
    margin: 50px 0px;
    width: 100%;
    .color-gray {
      background-color: #f0f0f0;
      width: 100%;
    }
      
  .header-about {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    h1 {
      color: #15295F;
    }
  }
    
  .about {
    padding: 20px;
    color: gray;
  }

  .name-teacher {
    color: #15295F;
    padding: 20px;

    span {
      color: gray;
      font-size: 20px;
    }
  }
}



